<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="stylesheet" href="{% static 'about.css' %}" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" href="{% static 'PICO-LOGO-SHORT.png' %}" type="image/gif">
    <link rel="stylesheet" href="about.css">
    <script src="about.js"></script>
  </head>
  
  <body>
    <!-- -----------------------------------------------company---------------------------------------------------------------- -->
    <div class="company">
      <div class="img">
        <img src="https://raw.githubusercontent.com/pico-india/main-django/main/static/about-team.jpg" alt="" />
      </div>
      <div class="company-info">
        <span>BOOKS <span class="our">FOR EVERYONE</span></span>
        <p>
          <b>Books Exchange</b> is a India-based website dedicated for excahnge old books  to its website, which are then curated by a team of editors.
          aspiring to be one of the largest Book suppliers on the internet.
        </p>
      </div>
    </div>
    <!-- ---------------------------------------------------------------------------------------------------------------------- -->
    <!-- ----------------------------------------------------team-------------------------------------------------------------- -->
    <div class="team"><span>OUR TEAM</span></div>
    <div class="container">
      <div class="card">
        <div class="card-image loading"><img src="https://tse2.mm.bing.net/th?id=OIP.Vtn47A9nTQyaBCSc6sWB9gHaKl&pid=Api&P=0&h=180" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span>Tanishq<span class="yellow-surname">Choudhary</span></span></h3>
          <p class="card-description loading">
            <span class="personal-info">
              <span class="info">Graphic Designing Head</span> <br>
              Pursuing B.E C.S.E Engineering (chitkara university) <br>
              Email: <a href="mailto:'Tanishq77@gmail.com'">Tanishq77@gmail.com</a>
            </span>
          </p>
          <div class="card-mediaIcons">
            <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="{% url 'viewprofile' 9 %}" class="loading" target="on_blank"><i><img
                  src="#" alt="exchange"></a></i>
            <a href="#" class="loading" target="on_blank"><i
                class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-image loading"><img src="https://media.istockphoto.com/photos/portrait-of-handsome-latino-african-man-picture-id1007763808?k=20&m=1007763808&s=612x612&w=0&h=q4qlV-99EK1VHePL1-Xon4gpdpK7kz3631XK4Hgr1ls=" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span>Taranpreet <span class="yellow-surname"> </span></span></h3>
          <p class="card-description loading">
            <span class="personal-info">
              <span class="info">Web Developing Head</span> <br>
              Pursuing B.E C.S.E Engineering (chitkara university) <br>
              Email: <a href="mailto:'Taranpreet11@gmail.com'">Taranpreet11@gmail.com</a>
            </span>
          </p>
          <div class="card-mediaIcons">
            <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="{% url 'viewprofile' 7 %}" class="loading" target="on_blank"><i><img
                  src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></i></a>
            <a href="#" class="loading" target="on_blank"><i
                class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-image loading"><img src="https://media.istockphoto.com/photos/portrait-of-handsome-latino-african-man-picture-id1007763808?k=20&m=1007763808&s=612x612&w=0&h=q4qlV-99EK1VHePL1-Xon4gpdpK7kz3631XK4Hgr1ls=" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span>Vishesh <span class="yellow-surname"> </span></span></h3>
          <p class="card-description loading">
            <span class="personal-info">
              <span class="info">Web Developing Head</span> <br>
              Pursuing B.E C.S.E Engineering (chitkara university) <br>
              Email: <a href="mailto:'visheshhpgcl@gmail.com'">visheshhpgcl@gmail.com</a>
            </span>
          </p>
          <div class="card-mediaIcons">
            <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="{% url 'viewprofile' 7 %}" class="loading" target="on_blank"><i><img
                  src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></i></a>
            <a href="#" class="loading" target="on_blank"><i
                class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-image loading"><img src="https://images.pexels.com/photos/837358/pexels-photo-837358.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span>vishal <span class="yellow-surname">kumar</span></span></h3>
          <p class="card-description loading">
            <span class="personal-info">
              <span class="info">Marketing and Publicity Head</span> <br>
              Pursuing B.E C.S.E Engineering (chitkara university) <br>
              Email: <a href="mailto:'vishal36@gmail.com'">vishal36@gmail.com</a>
            </span>
          </p>
          <div class="card-mediaIcons">
            <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="{% url 'viewprofile' 6 %}" class="loading" target="on_blank"><i><img
                  src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></a></i>
            <a href="#" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- ----------------------------------------footer------------------------------------------ -->
    <footer>
      <div class="content">
        <div class="top">
          <div class="logo-details">
            <span class="logo_name">Book Platform</span>
          </div>
          <div class="media-icons">
            <a target="on_blank" href="#"><i class="fab fa-facebook"></i></a>
            <a target="on_blank" href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="link-boxes">
          <ul class="box">
            <li class="link_name">Links</li>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'upload' %}">Exchange Book</a></li>
  
          </ul>
          <ul class="box">
            <li class="link_name">Recommended</li>
            <li><a href="{% url 'category' 6 %}">India</a></li>
            <li><a href="{% url 'category' 5 %">Novels</a></li>
            <li><a href="{% url 'category' 11 %">People</a></li>
            <li><a href="{% url 'category' 2 %">Travel</a></li>
  
          </ul>
          <ul class="box">
            <li class="link_name">Legal Info</li>
            <li><a href="{% url 'licence' %}">Licence</a></li>
            <li><a href="{% url 'terms' %}">Terms and Conditions</a></li>
            <li><a href="{% url 'privacy' %}">Privacy Policies</a></li>
  
          </ul>
          <ul class="box">
            <li class="link_name">Contact</li>
            <li><a target="on_blank" href="tel:+919079680135">+91 7488907986</a></li>
            <li><a target="on_blank" href="mailto:'vishal@gmail.com'">vishal@gmail.com</a></li>
          </ul>
        </div>
      </div>
  
      <div class="bottom-details">
        <div class="bottom_text">
          <span class="copyright_text">Copyright © 2024 <a href="#">book</a></span>
        </div>
      </div>
    </footer>
    <!-- ---------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------------- -->
  
  </html>