body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(120, 15, 224);
}

.container {
    position: relative;
    display: flex;
    background-color: rgb(156, 89, 244);
    margin: 100px auto;
    margin-top: 60px;
    margin-bottom: 0;
    width: 1250px;
    height: 580px;
    overflow: hidden;
    border-radius: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Added box shadow blur */
}

.left {
    width: 60%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circular-image {
    width: 400px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    border-radius: 50%;
    overflow: hidden;
}

.circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right {
    width: 40%;
    padding: 40px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 60px 60px 0;
    position: relative;
}

.login-button {
    background-color: #ffc107; /* Yellow color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #ffca28; /* Lighter yellow on hover */
}

.links {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.links a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}

.links a:hover {
    text-decoration: underline;
}


form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.welcome {
    background-color: rgb(120, 15, 224);
    color: #fff;
    border-radius: 20px;
    border-left: 40px;
    margin: 10px;
    padding: 5px 10px;
    font-size: 18px;
    text-align: left;
    position: absolute; /* Changed to absolute */
    top: 10px;
    left: 0;
    width: 200px;
    color: black;
}

.welcome-heading {
    font-family: 'Roboto', sans-serif; /* Change to your preferred font family */
    font-size: 32px; /* Increased font size */
    color: #333; /* Adjust color as needed */
    margin-bottom: 20px; /* Increased margin for spacing */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 2px; /* Add letter spacing for emphasis */
    font-weight: bold; /* Ensure a bold appearance */
}


.underline-input {
    border: none;
    border-bottom: 1px solid rgb(120, 15, 224);
    outline: none;
    padding: 10px 0;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

label {
    align-self: flex-start;
    font-size: 18px;
    margin-bottom: 5px;
}
